.container {
	color: #484848;
	height: 90vh;
	text-align: center;
	padding-top: 30px;
}
.btn {
	background-color: #26aa26;
	color: white;
	padding: 10px 20px;
	border: none;
	-webkit-box-shadow: 1px 1px;
	box-shadow: 1px 1px;
}

.btn:hover {
	background-color: #28b728;
}

#results {
	margin: 20px;
	font-size: 3rem;
}